<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Pets</title>
    <meta
      name="keywords"
      content="pixel pets, virtual pet, game, pet game, pixel pets game, virtual pet game"
    />
    <link rel="icon" type="image/png" href="/images/pixel-pets-logo.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  {{! https://wireframe.cc/sk9M31 }}

  <body>
    {{#if logged_in}}
      <header>
        <nav>
          <div class="dropdown">
            <button>{{username}}<span
                class="material-symbols-outlined"
              >arrow_drop_down</span></button>
            <div class="user-options">
              {{#checkPetCount petCount}}{{/checkPetCount}}
              {{#if pets}}
                <button id="delete-pet">Delete Pet</button>
              {{/if}}
            </div>
          </div>
          <a href="/dashboard">Dashboard</a>
          <a href="/explore">Explore</a>
          <a href="/store">Store</a>
          <button type="button" id="logout-button">Log Out</button>
        </nav>
      </header>
    {{/if}}

    {{{body}}}

    {{#if logged_in}}
      <footer>Made by
        <a target="_blank" href="https://github.com/cazthetraveler">Luis Olmos</a>
        &#40;●'◡'●&#41;</footer>
    {{/if}}

  </body>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}

</html>