{{!-- <div class="spotlight">
    <div class="pet-display">
        <div>
            <img>
        </div>
        <div>
            <h2>recent user's pet</h2>
        </div>
    </div>
</div> this will be for another time tbh --}}

<div class="home-container">
    <div class="homepage"></div>
</div>
