<div class="homepage">
    <div class="welcome">
        <h1>Welcome!!</h1>
        <img width="300" height="300" src="/images/pets/mouse/white/fave-food.gif" alt="mouse welcomes you" oncontextmenu="return false;" draggable="false">
    </div>
    <div class="news">
        <h2>Recent Changes:</h2>
        <ul>
            <li>Started working on the inventory system.</li>
            <li>Pets now have favorites and dislikes.</li>
            <li>Pets can be different colors now!! -just need to add new colors and gifs for them hahaha</li>
        </ul>
    </div>
</div>