<main class="loginpage">
    <section class="login-section">
        <h2>LOGIN</h2>
        <form name="login-form" id="login-form">
            <div>
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <button type="submit">LOGIN</button>
        </form>
    </section>
    <section class="register-section">
        <h2>REGISTER</h2>
        <form name="register-form" id="register-form">
            <div>
                <label for="username-register">Username:</label>
                <input type="text" id="username-register" />
            </div>
            <div>
                <label for="password-register">Password:</label>
                <input type="password" id="password-register" />
            </div>
            <button type="submit">REGISTER</button>
        </form>
    </section>
</main>

<script src="/js/login.js"></script>
<script src="/js/register.js"></script>
