<div>login and register forms goes here :PP</div>

<form id="login-form">
    <label for="username-login">Username:</label>
    <input type="text" id="username-login">

    <label for="password-login">Password:</label>
    <input type="password" id="password-login">

    <button type="submit">Login</button>
</form>

<form id="register-form">
    <label for="username-register">Username:</label>
    <input type="text" id="username-register">

    <label for="password-register">Password:</label>
    <input type="password" id="password-register">

    <button type="submit">Register</button>
</form>

<script src="/js/login.js"></script>
<script src="/js/register.js"></script>