<div class="store-front">
    <div>Sorry, we're not open yet! &#40T_T&#41</div>
    <div>P.S. not an actual store that requires real currency, just pretend lol</div>
    <img src="/images/pets/mouse/white/sleep.gif" alt="shop is closed :PP" oncontextmenu="return false;" draggable="false">
</div>

<div>anywaysss this is where you'll be able to buy food and stuff for your pets. need to add some sort of inventory system :PP good job me.</div>
<div>Add input for secret items. </div>